<div class="row columns new-race">
  <%= link_to "New Race", new_race_path, class: "button" %>
</div>
<div class="row columns">
  <table class="races-table">
    <thead>
      <tr>
        <th class="text-center" width="10%">#</th>
        <th width="10%">Distance</th>
        <th width="20%">Start Time</th>
        <th width="20%">Sidekiq Finish</th>
        <th width="20%">Delayed Job Finish</th>
        <th width="15%">Time Diff (s)</th>
        <th width="15%">% Diff</th>
      </tr>
    </thead>
    <tbody class="races">
      <% @races.each do |race| %>
        <tr class="race-row" data-href="<%= race_path(race) %>">
          <td class="text-center">
            <%= race.id %>
          </td>
          <td class="text-right">
            <%= race.distance %>
          </td>
          <td class="text-center %>">
            <%= race.created_at.strftime("%m/%d/%y %H:%M:%S") %>
          </td>
          <td class="text-center <%= format_racer(race, "sidekiq") %>">
            <%= race.sidekiq_player.finish_time.strftime("%m/%d/%y %H:%M:%S") %>
          </td>
          <td class="text-center <%= format_racer(race, "delayedjob") %>">
            <%= race.delayedjob_player.finish_time.strftime("%m/%d/%y %H:%M:%S") %>
          </td>
          <td class="text-right">
            <%= race.sidekiq_player.finish_time - race.delayedjob_player.finish_time %>
          </td>
          <td class="text-right">
            <%= "%.2f" % race.duration_percentage %>%
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row columns new-race">
  <%= link_to "New Race", new_race_path, class: "button" %>
</div>

<% content_for :after_javascript do %>
  <script type="text/javascript">
    $("tbody.races").on("click", "tr.race-row", function () {
       window.document.location = $(this).data("href");
    })
  </script>
<% end %>
