<div class="row">
  <div class="columns">
    <div class="row" data-equalizer>
      <div class="small-3 columns" data-equalizer-watch>
        <h4>And they're off...<h4>
      </div>
      <div class="small-6 columns" data-equalizer-watch>
        <h4>Distance: <%= @race.distance %><h4>
      </div>
      <div class="small-3 columns" data-equalizer-watch>
        <%= link_to "View Results", races_path, class: "button" %>
        <%= link_to "New Race", new_race_path, class: "button secondary" %>
      </div>
    </div>
  </div>
</div>
<div class="row columns"><hr/></div>
<%= render partial: "lane", locals: { player: "sidekiq" } %>
<div class="row columns"><hr/></div>
<%= render partial: "lane", locals: { player: "delayedjob" } %>
<div class="row columns"><hr/></div>

<% content_for :after_javascript do %>
  <script type="text/javascript">

    var calculateMovement = function (position, distance) {
      var placement = ((position/distance) * 85).toString() + "%"
      return placement
    }

    var refreshPage = function () {
      var sidekiq_done    = false
      var delayedjob_done = false

      $.ajax({
        url: "<%= race_run_path(@race.id) %>"
      }).done(function (data) {
        sidekiq_done    = data.sidekiq_player     >= data.distance
        delayedjob_done = data.delayedjob_player  >= data.distance

        $(".sidekiq-player").animate({
          marginLeft: calculateMovement(data.sidekiq_player, data.distance)
        }, 5000)

        $(".delayedjob-player").animate({
          marginLeft: calculateMovement(data.delayedjob_player, data.distance)
        }, 5000)

        if (sidekiq_done && !delayedjob_done) {
          $(".sidekiq-player").addClass("winner")
          $(".delayedjob_player").addClass("loser")
        }

        if (!sidekiq_done && delayedjob_done) {
          $(".sidekiq-player").addClass("loser")
          $(".delayedjob_player").addClass("winner")
        }

        if (!sidekiq_done && !delayedjob_done) { setTimeout(refreshPage, 5000) }
      })
    }

    refreshPage()
  </script>
<% end %>
